name: build

on:
  push:
  pull_request:

jobs:
  mri:
    strategy:
      fail-fast: false
      matrix:
        ruby_version:
          - '3.4'
          - '3.3'
          - '3.2'
          - '3.1'
          - '3.0'
          - '2.7'
        gemfile:
          - gemfiles/rails_80.gemfile
          - gemfiles/rails_72.gemfile
          - gemfiles/rails_71.gemfile
          - gemfiles/rails_70.gemfile
          - gemfiles/graphql_2_0.gemfile
        exclude:
          - ruby_version: '3.4'
            gemfile: gemfiles/rails_71.gemfile
          - ruby_version: '3.4'
            gemfile: gemfiles/rails_70.gemfile
          - ruby_version: '3.1'
            gemfile: gemfiles/rails_80.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/rails_80.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/rails_72.gemfile
          - ruby_version: '3.0'
            gemfile: gemfiles/graphql_2_0.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_80.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_72.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/rails_71.gemfile
          - ruby_version: '2.7'
            gemfile: gemfiles/graphql_2_0.gemfile
    runs-on: ubuntu-22.04
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - name: Install curl
        run: sudo apt-get install curl libcurl4-openssl-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - run: bundle exec rake

  rails_edge:
    needs:
      - mri
    runs-on: ubuntu-22.04
    env:
      BUNDLE_GEMFILE: gemfiles/rails_edge.gemfile
    steps:
      - uses: actions/checkout@v4
      - name: Install curl
        run: sudo apt-get install curl libcurl4-openssl-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - run: bundle exec rake || echo "Rails edge test is done."

  ruby_edge:
    needs:
      - mri
    strategy:
      matrix:
        ruby_version:
          - 'ruby-head'
        gemfile:
          - gemfiles/rails_edge.gemfile
          - gemfiles/rails_80.gemfile
    runs-on: ubuntu-22.04
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - name: Install curl
        run: sudo apt-get install curl libcurl4-openssl-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - run: bundle exec rake || echo "Ruby edge test is done."

#  The curb gem does not work well with JRuby, so skipping for now...
#  jruby:
#    needs:
#      - mri
#    strategy:
#      matrix:
#        ruby_version:
#          - 'jruby-9.4'
#          - 'jruby-head'
#        gemfile:
#          - gemfiles/rails_70.gemfile
#    runs-on: ubuntu-22.04
#    env:
#      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
#    steps:
#      - uses: actions/checkout@v4
#      - name: Set up Ruby
#        uses: ruby/setup-ruby@v1
#        with:
#          ruby-version: ${{ matrix.ruby_version }}
#          bundler-cache: true
#      - run: bundle exec rake || echo "JRuby test is done."
